nav {
    display: flex;
    justify-content: center;
}

nav button {
    border-radius: 5px;
    width: 150px;
    height: 40px;
}

#grid-container {
    padding-top: 20px;
    display: grid;
    justify-content: center;
    grid-gap: 2px;
}

p {
    border: solid;
    visibility: hidden;
}

.square {
    border: solid;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.square:hover{
    cursor: pointer;
}