
body {
    margin: 0 auto;
}

main {
    opacity: .2;
}

#pop-up {
    background-color: white;
    z-index: 100;
    border: solid;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*padding: 125px 50px; */
    max-width: 700px;
    border-radius: 5px;
    border-width: 7px;
    opacity: 1;
}

#pop-up p {
    text-align: center;
    font-size: 2rem;
}

.slide-progress {
    display: flex;
    justify-content: center;
}

.slide-progress div {
    border: solid;
    border-width: 1px;
    margin: 0 10px;
    padding: 6px;
    border-radius: 50px;
}

.slide-progress div:nth-child(1) {
    background-color: black;
}

.tutorial {
    display: flex;
    flex-direction: column;
    padding: 50px 50px 0px;
}

.tutorial img { align-self: center; }

#pop-up .tutorial p {
    align-self: center;
    max-width: 450px;
    font-size: 1.15rem;
}

.tutorial-buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.tutorial-buttons button {
    margin: 0 10px;
    padding: 10px 30px;
    border: solid;
    border-radius: 5px;
}

.tutorial-buttons button:nth-child(1) { opacity: .3; }

button:hover { cursor: pointer; }

nav {
    display: flex;
    justify-content: center;
    border: solid;
    padding: 1.5rem 0;
    background-color: #9059FF;
}

nav button {
    border-radius: 5px;
    width: 150px;
    height: 40px;
    margin: 0 10px;
    border: solid;
}

nav button {
    font-size: 1.25rem;
}

#square-legend {
    margin: 20px;
    display: flex;
    justify-content: center;

}

#square-legend p {
    text-align: center;
}

#start, #goal, #wall, #visited, #unvisited, #path{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    margin: 0 10px;
}

#start div, #goal div, #wall div, #visited div, #unvisited div, #path div {
    border: solid;
    border-radius: 5px;
    /* padding: 25px; */
    min-width: 50px;
    min-height: 50px;
}

#start div{
    background-color: #00DDFF;
    border-color: #0290EE;
}

#goal div{
    background-color: #C588FF;
    border-color: #9059FF;
}

#wall div {
    background-color: black;
}

#visited div {
    background-color: #FF848C;
    border-color: #FF505F;
}

#unvisited div {
    background-color: #88FFD1;
    border-color: #3FE1B0;
}

#path div {
    background-color: #FFEA7F;
    border-color: #FFD567;
}

#grid-container {
    padding: 0px 0px;
    margin: 0 0px;
    display: grid;
    justify-content: center;
    grid-gap: 1px;
}

.square {
    border: solid;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.square:hover{
    cursor: pointer;
}

.square p {
    margin: 0;
    text-align: center;
    
}