
:root {
    --start-sq-bg: #00DDFF;
    --start-sq-border: #0290EE;
    --goal-sq-bg: #C588FF;
    --goal-sq-border: #9059FF;
    --wall-sq-bg: black;
    --wall-sq-border: black;
    --closed-sq-bg:  #FF848C;
    --closed-sq-border:#FF505F;
    --open-sq-bg: #88FFD1;
    --open-sq-border:  #3FE1B0;
    --optimal-sq-bg: #FFEA7F;
    --optimal-sq-border: #FFD567;
}

body {
    margin: 0 auto;
    background-color: rgb(243, 244, 245);
    font: bold 1rem 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

/*====================================================
    pop ups
====================================================*/
#popup-bg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup {
    background-color: white;
    position: absolute;
    z-index: 10;
    width: 100%;
    max-width: 30rem;
    height: 40rem;
    padding: 0rem 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 1rem;
    transition: 2s;
}

.slide-progress {
    display: flex;
    justify-content: center;
    top: 1rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

/* centers all child elements within a slide */
.slide > * {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.slide-progress div {
    border: solid;
    max-width: 1rem;
    padding: .25rem;
    border-radius: 50rem;
    margin: 0 1rem;
}

.slide-progress div:nth-child(1) {
    background-color: black;
}

.slide {
    display: flex;
    flex-direction: column;
}

.popup h1 {
    top: 2.5rem;
    width: 90%;
    padding: 0;
    margin: 0;
}

.popup img {
    top: 6rem;
    width: 100%;
    max-width: 20rem;
    align-self: center;
}

/* .start-sq {
    border-color: var(--start-sq-border);
    background-color: var(--start-sq-bg);
}

.popup .goal-sq {
    border-color: var(--goal-sq-border);
}

.popup .wall-sq {
    border-color: black;
}

.popup .closed-sq {
    border-color: var(--closed-sq-border);
}

.popup .open-sq {
    border-color: var(--open-sq-border);
}

.popup .optimal-sq {
    border-color: var(--optimal-sq-border);
} */

.popup p {
    top: 26rem;
    line-height: 1.25;
    width: 85%;
    text-align: center;
}

.slide-buttons {
    position: absolute;
    bottom: 1rem;
    text-align: center;
    width: 100%;
    max-width: 70%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.popup button {
    cursor: pointer;
    margin: 0 10px;
    padding: 10px 30px;
    border: solid;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-weight: 2000;
}

/*------------------------------------------------------
    popup square colors
------------------------------------------------------*/
.popup .grid-sq {
    top: 10rem;
    border: solid;
    padding: 5rem;
    border-radius: 10px;
}

.popup span {
    border-radius: 5px;
    padding: .25rem;
}

.popup .start-sq { border-color: var(--start-sq-border); background-color: var(--start-sq-bg); }
.popup .goal-sq { border-color: var(--goal-sq-border); background-color: var(--goal-sq-bg);}
.popup .wall-sq { border-color: black; background-color: var(--wall-sq-bg); color: white; }
.popup .closed-sq { border-color: var(--closed-sq-border); background-color: var(--closed-sq-bg); }
.popup .open-sq { border-color: var(--open-sq-border); background-color: var(--open-sq-bg); }
.popup .optimal-sq { border-color: var(--optimal-sq-border); background-color: var(--optimal-sq-bg); }

/*------------------------------------------------------
    header
------------------------------------------------------*/
header div:nth-child(2) { text-align: center; }

.social-links {
    position: absolute;
    margin-top: 1rem;
    width: 100%;
    max-width: 50rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.social-links a {
    display: flex;
    height: 3rem;
    border-radius: 10px;
    align-items: center;
    padding: 0rem .5rem;
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}

.social-links a:hover { background-color: #e7e7e7; }
.social-links a i { font-size: 2rem; }
.social-links a:nth-child(1) i { margin-right: 1rem; }
.social-links a:nth-child(2) i { margin-left: 1rem; } 

#logo {
    margin-top: 1rem;
    width: 6rem;
}

/*------------------------------------------------------
    menu
------------------------------------------------------*/
nav {
    display: flex;
    max-width: 50rem;
    padding: .5rem 0;
    margin: 0 auto;
    justify-content: center;
    justify-content: space-evenly;
    /* background-color: #7B68EE; */
    background-color: #FFF;
    border-radius: 0.75rem;
    box-shadow: 0 0.5rem 0.75rem -0.25rem rgba(39,48,54,0.05);
}

.nav-item {
    vertical-align: auto;
    background-color: rgb(243, 244, 245);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

nav i {
    font-size: 2.5rem;
    padding: .5rem;
    text-align: center;
    color: #7B68EE;
}

.nav-item:hover { background-color: #7B68EE; }
.nav-item:hover i { color: white; }

/*------------------------------------------------------
    algorithm choices v2
------------------------------------------------------*/
#algorithm-choices {
    border-radius: 10px;
    width: 100%;
    max-width: 30rem;
    margin: .5rem auto;
    padding: .5rem 0;
    background-color: white;
    text-align: center;
    position: relative;
}

#current-algorithm {
    background-color: rgb(243, 244, 245);
    padding: .5rem 0;
    margin: 0 auto;
    width: 80%;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #7B68EE;
    user-select: none;
}

/*------------------------------------------------------
    dropdown v2
------------------------------------------------------*/

.dropdown-content {
    position: absolute;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: solid;
    border-color: #7B68EE;
    padding: .5rem .25rem;
    border-radius: 10px;
}
.nav-item .dropdown-content {
    z-index: 5;
    top: 3.5rem;
    width: 350%;
}

.dropdown-content h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1rem;
}

.dropdown-content p {
    cursor: pointer;
    color: #7B68EE;
    text-align: center;
    padding: .5rem 0;
    margin: .5rem auto;
    width: 100%;
}

.dropdown-content p:hover {
    color: white;
    background-color: #7B68EE;
    border-radius: 5px;
}

#algorithm-choices:hover .dropdown-content, .nav-item:hover .dropdown-content {
    display: initial;
}

/*------------------------------------------------------
    grid
------------------------------------------------------*/
#grid-container {
    background-color: white;
    padding: 3rem 0 3rem;
    margin: 0 0px;
    display: grid;
    justify-content: center;
    grid-gap: 1px;
}

/*------------------------------------------------------
    squares within the grid
------------------------------------------------------*/
.square {
    border: solid;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.square:hover{ cursor: pointer; }

.square p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: .7rem;
}