
body {
    margin: 0 auto;
    background-color: rgb(243, 244, 245);
    font: bold 1rem 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

/*====================================================
    pop ups
====================================================*/
#popup-bg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup {
    background-color: white;
    position: absolute;
    z-index: 10;
    width: 100%;
    max-width: 30rem;
    height: 40rem;
    padding: 0rem 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 1rem;
    transition: 2s;
}

.slide-progress {
    display: flex;
    justify-content: center;
    top: 1rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

/* centers all child elements within a slide */
.slide > * {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.slide-progress div {
    border: solid;
    max-width: 1rem;
    padding: .25rem;
    border-radius: 50rem;
    margin: 0 1rem;
}

.slide-progress div:nth-child(1) {
    background-color: black;
}

.slide {
    display: flex;
    flex-direction: column;
}

.popup h1 {
    top: 2.5rem;
    width: 90%;
    padding: 0;
    margin: 0;
}

.popup img {
    top: 6rem;
    width: 100%;
    max-width: 20rem;
    align-self: center;
}

.popup p {
    top: 26rem;
    width: 85%;
    text-align: center;
}

.slide-buttons {
    position: absolute;
    bottom: 1rem;
    text-align: center;
    width: 100%;
    max-width: 70%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.popup button {
    cursor: pointer;
    margin: 0 10px;
    padding: 10px 30px;
    border: solid;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-weight: 2000;
}

/*------------------------------------------------------
    header
------------------------------------------------------*/
header div:nth-child(2) {
    text-align: center;
}

.social-links {
    position: absolute;
    margin-top: 1rem;
    width: 100%;
    max-width: 50rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.social-links a {
    display: flex;
    border-radius: 10px;
    align-items: center;
    padding: 0rem .5rem;
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}

.social-links a:hover { background-color: #e7e7e7; }
.social-links a i { font-size: 2rem; }
.social-links a:nth-child(1) i { margin-right: 1rem; }
.social-links a:nth-child(2) i { margin-left: 1rem; } 

#logo {
    margin-top: 1rem;
    width: 6rem;
}

/*------------------------------------------------------
    menu
------------------------------------------------------*/
nav {
    display: flex;
    max-width: 50rem;
    padding: .5rem 0;
    margin: 0 auto;
    justify-content: center;
    justify-content: space-evenly;
    /* background-color: #7B68EE; */
    background-color: #FFF;
    border-radius: 0.75rem;
    box-shadow: 0 0.5rem 0.75rem -0.25rem rgba(39,48,54,0.05);
}

.nav-item {
    width: 2.5rem;
    padding: .5rem;
    background-color: rgb(243, 244, 245);
    border-radius: 10px;
    transition: 0s;   
    transition-delay: .1s;
}

nav i {
    padding: 0;
    margin:0;
    text-align: center;
    color: #7B68EE;
    font-size: 2.5rem;
    transition: 0s;   
    transition-delay: .1s;
}

.dropdown-content {
    border: solid;
    border-color: #7B68EE;
    border-radius: 10px;
    background-color: white;
    margin: 1rem 0;
    margin-left: -.5rem;
    max-width: 15rem;
    position: absolute;
    visibility: hidden;
    transition: 0s;   
    transition-delay: .1s;
}

nav h2 {
    font-size: 1rem;
    text-align: center;
    user-select: none;
}

nav p {
    text-align: center;
    margin:.5rem .25rem;
    border-radius: 5px;
    padding: .5rem .5rem;
    color: #7B68EE;
    user-select: none;
}

.nav-item:nth-child(5) p:hover, .nav-item:nth-child(6) p:hover {
    background-color: #7B68EE;
    color: white;
    cursor: pointer;
}

.nav-item:hover {
    cursor: pointer;
    background-color: #7B68EE;
    transition-delay: 0s;
}

.nav-item:hover i {
    color: white;
    transition-delay: 0s;
}

.nav-item:hover .dropdown-content {
    cursor: default;
    visibility: visible;
    transition-delay: 0s;
}

/*------------------------------------------------------
    algorithm information in the nav section
------------------------------------------------------*/
.algorithms {
    visibility: hidden;
    position: absolute;
    z-index: 20;
    display: flex;
    border: solid;
    flex-direction: column;
    margin: .5rem 0;
    padding: 0 2rem;
    margin-left: -3rem;
    background-color: #9059FF;
    border-radius: 5px;
}

.algorithms div {
    border: solid;
    text-align: center;
    margin: .3rem 0;
    padding: .2rem 1rem;
    font-size: 1.25rem;
    border-radius: 5px;
    background-color: #e7e7e7;
}

.algorithms div:hover {
    cursor: pointer;
}

/*------------------------------------------------------
    square legend
------------------------------------------------------*/
.square-legend {
    margin: 0rem 0rem 4rem;
    display: flex;
    justify-content: center;
}

.square-dropdown { margin: 0 1rem; }

.square-dropdown h3 { 
    margin-bottom: .5rem;
    text-align: center; 
}

.square-dropdown div {
    border: solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 22px 22px;
    margin: 0 10px;
}

.square-dropdown div:hover { cursor: pointer; }

.square-dropdown p {
    text-align: center;
    padding: .5rem .5rem;
    position: absolute;
    z-index: 20;
    margin-top: .5rem;
    margin-left: -5.5rem;
    border: solid;
    border-radius: 5px;
    visibility: hidden;
    font-size: 1.25rem;
    max-width: 15rem;
    background-color: #e7e7e7;
}

.square-dropdown:hover div:hover + p { visibility: visible; }

.square-dropdown:nth-child(1) div, .square-dropdown:nth-child(1) p{
    background-color: #00DDFF;
    border-color: #0290EE;
}

.square-dropdown:nth-child(2) div, .square-dropdown:nth-child(2) p{
    background-color: #C588FF;
    border-color: #9059FF;
}

.square-dropdown:nth-child(3) div { background-color: black; }

.square-dropdown:nth-child(4) div, .square-dropdown:nth-child(4) p {
    background-color: #FF848C;
    border-color: #FF505F;
}

.square-dropdown:nth-child(5) div, .square-dropdown:nth-child(5) p {
    background-color: #88FFD1;
    border-color: #3FE1B0;
}

.square-dropdown:nth-child(6) div, .square-dropdown:nth-child(6) p {
    background-color: #FFEA7F;
    border-color: #FFD567;
}

#algorithm { text-align: center; }

/*------------------------------------------------------
    algorithm choices v2
------------------------------------------------------*/
#algorithm-choices {
    border-radius: 10px;
    width: 100%;
    max-width: 30rem;
    margin: .5rem auto;
    padding: .5rem 0;
    background-color: white;
    text-align: center;
}

#current-algorithm {
    background-color: rgb(243, 244, 245);
    padding: .5rem 0;
    margin: 0 auto;
    width: 80%;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #7B68EE;
    user-select: none;
}

#algorithm-dropdown {
    border: solid;
    border-radius: 10px;
    width: 100%;
    max-width: 20rem;
    position: absolute;
    display: none;
    background-color: white;
    padding: .5rem 0;
    border-color: #7B68EE;
}

#algorithm-choices:hover #algorithm-dropdown, #algorithm-choices:active #algorithm-dropdown {
    display: initial;
    left: 50%;
    transform: translate(-50%, .5rem);
}

#algorithm-dropdown > * {
    padding: 0;
    margin: .25rem auto;
}

#algorithm-choices p {
    width: 95%;
    margin: 0 auto;
    color: #7B68EE;
}

#algorithm-dropdown p {
    border-radius: 10px;
    width: 80%;
    font-size: 1.25rem;
    cursor: pointer;
    padding: .5rem 0;
}

#algorithm-dropdown p:hover {
    color: white;
    background-color: #7B68EE;
}

/*------------------------------------------------------
    grid
------------------------------------------------------*/
#grid-container {
    background-color: white;
    padding: 3rem 0 3rem;
    margin: 0 0px;
    display: grid;
    justify-content: center;
    grid-gap: 1px;
}

/*------------------------------------------------------
    squares within the grid
------------------------------------------------------*/
.square {
    border: solid;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.square:hover{ cursor: pointer; }

.square p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: .7rem;
}