
body {
    margin: 0 auto;
    background-color: rgb(243, 244, 245);
    /* font-family: 'zilla slab', serif; */
    font: bold 1rem 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

main {
    opacity: .2;
}

/*====================================================
    pop ups
====================================================*/

#tutorial-pop-up, #a-star-info{
    background-color: white;
    z-index: 100;
    border: solid;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*padding: 125px 50px; */
    max-width: 700px;
    border-radius: 5px;
    border-width: 7px;
    opacity: 1;
}

#tutorial-pop-up p, #a-star-info p{
    text-align: center;
    font-size: 2rem;
}

.slide-progress {
    display: flex;
    justify-content: center;
}

.slide-progress div {
    border: solid;
    border-width: 1px;
    margin: 0 10px;
    padding: 6px;
    border-radius: 50px;
}

.slide-progress div:nth-child(1) {
    background-color: black;
}

.slide {
    display: flex;
    flex-direction: column;
    padding: 50px 50px 0px;
}

#a-star-info .slide .sub-title {
    margin-top: 0;
    font-size: 1.5rem;
}

.slide img { align-self: center; }

#tutorial-pop-up .slides p, #a-star-info .slides p {
    align-self: center;
    max-width: 450px;
    font-size: 1.15rem;
}

.slide-buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.slide-buttons button {
    margin: 0 10px;
    padding: 10px 30px;
    border: solid;
    border-radius: 5px;
}

.tutorial-buttons button:nth-child(1) { opacity: .3; }

button:hover { cursor: pointer; }

h1 {
    text-align: center;
    font-weight: 2000;
}

/*------------------------------------------------------
    IMAGE
------------------------------------------------------*/
img {
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 6rem;
}


/* 
    ====================================================
    menu 
    ====================================================
*/

nav {
    display: flex;
    max-width: 50rem;
    padding: .5rem 0;
    margin: 0 auto;
    justify-content: center;
    justify-content: space-evenly;
    /* background-color: #7B68EE; */
    background-color: #FFF;
    border-radius: 0.75rem;
    box-shadow: 0 0.5rem 0.75rem -0.25rem rgba(39,48,54,0.05);
}

.nav-item {
    width: 2.5rem;
    padding: .5rem;
    background-color: rgb(243, 244, 245);
    border-radius: 10px;
    transition: 0s;   
    transition-delay: .1s;
}

nav i {
    padding: 0;
    margin:0;
    text-align: center;
    color: #7B68EE;
    font-size: 2.5rem;
    transition: 0s;   
    transition-delay: .1s;
}

.dropdown-content {
    border: solid;
    border-color: #7B68EE;
    border-radius: 10px;
    background-color: white;
    margin: 1rem 0;
    margin-left: -.5rem;
    max-width: 15rem;
    position: absolute;
    visibility: hidden;
    transition: 0s;   
    transition-delay: .1s;
}

nav h2 {
    font-size: 1rem;
    text-align: center;
    user-select: none;
}

nav p {
    text-align: center;
    margin:.5rem .25rem;
    border-radius: 5px;
    padding: .5rem .5rem;
    color: #7B68EE;
    user-select: none;
}

.nav-item:nth-child(4) p:hover, .nav-item:nth-child(5) p:hover {
    background-color: #7B68EE;
    color: white;
    cursor: pointer;
}

.nav-item:hover {
    cursor: pointer;
    background-color: #7B68EE;
    transition-delay: 0s;
}

.nav-item:hover i {
    color: white;
    transition-delay: 0s;
}

.nav-item:hover .dropdown-content {
    cursor: default;
    visibility: visible;
    transition-delay: 0s;
}

/* nav {
    display: flex;
    justify-content: center;
    background-color: #2C2F33;
}

nav div {
    margin: 0 0rem;
    border-radius: 10px;
    padding: 1rem 0;
}

.menu-item {
    color: white;
    margin: 0 0rem;
    padding: 1rem 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    opacity: .7;
    user-select: none;
}

.menu-item:hover {
    background-color:  #7B68EE;
    opacity: 1;
    cursor: pointer;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    background-color: #2C2F33;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
    margin-top: 16px;
    padding: 1rem 1rem;
    border: solid;
}

.dropdown-content p {
    user-select: none;
    padding-right: 20px;
    margin: 0;
    padding: .5rem 1rem;
    opacity: .7;
}

.dropdown-content p:hover {
    background-color: #7B68EE;    
    border-radius: 10px;
    opacity: 1;
}

nav div:hover .dropdown-content {
    visibility: visible;
    border-radius: 10px;
}

nav div:hover .dropdown-content:hover .menu-item {
    background-color: #7B68EE; 
}

@media screen and (max-width: 1080px) {
    .menu-item {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 930px) {
    .menu-item {
        /* font-size: 1rem; */
  /*      padding: 1rem .5rem;
    }
} */

/* 
    ====================================================
    algorithm information in the nav section 
    ====================================================
*/

.algorithms {
    visibility: hidden;
    position: absolute;
    z-index: 20;
    display: flex;
    border: solid;
    flex-direction: column;
    margin: .5rem 0;
    padding: 0 2rem;
    margin-left: -3rem;
    background-color: #9059FF;
    border-radius: 5px;
}

.algorithms div {
    border: solid;
    text-align: center;
    margin: .3rem 0;
    padding: .2rem 1rem;
    font-size: 1.25rem;
    border-radius: 5px;
    background-color: #e7e7e7;
}

.algorithms div:hover {
    cursor: pointer;
}

/* 
    ====================================================
    square legend 
    ====================================================
*/

.square-legend {
    margin: 0rem 0rem 4rem;
    display: flex;
    justify-content: center;
}

.square-dropdown { margin: 0 1rem; }

.square-dropdown h3 { 
    margin-bottom: .5rem;
    text-align: center; 
}

.square-dropdown div {
    border: solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 22px 22px;
    margin: 0 10px;
}

.square-dropdown div:hover { cursor: pointer; }

.square-dropdown p {
    text-align: center;
    padding: .5rem .5rem;
    position: absolute;
    z-index: 20;
    margin-top: .5rem;
    margin-left: -5.5rem;
    border: solid;
    border-radius: 5px;
    visibility: hidden;
    font-size: 1.25rem;
    max-width: 15rem;
    background-color: #e7e7e7;
}

.square-dropdown:hover div:hover + p { visibility: visible; }

.square-dropdown:nth-child(1) div, .square-dropdown:nth-child(1) p{
    background-color: #00DDFF;
    border-color: #0290EE;
}

.square-dropdown:nth-child(2) div, .square-dropdown:nth-child(2) p{
    background-color: #C588FF;
    border-color: #9059FF;
}

.square-dropdown:nth-child(3) div { background-color: black; }

.square-dropdown:nth-child(4) div, .square-dropdown:nth-child(4) p {
    background-color: #FF848C;
    border-color: #FF505F;
}

.square-dropdown:nth-child(5) div, .square-dropdown:nth-child(5) p {
    background-color: #88FFD1;
    border-color: #3FE1B0;
}

.square-dropdown:nth-child(6) div, .square-dropdown:nth-child(6) p {
    background-color: #FFEA7F;
    border-color: #FFD567;
}

#algorithm { text-align: center; }

/*
    ====================================================
    algorithm choices 
    ====================================================
*/

.algo-choices-dropdown {
    display: flex;
    width: 150px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.algo-choices-dropdown:hover { cursor: pointer; }

.algo-choices-dropdown button {
    width: 150px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-radius: 5px;
}

.choices {
    border: solid;
    border-radius: 5px;
    border-top: 0px;
    margin-left: -90px;
    margin-top: 40px;
    position: absolute;
    visibility: hidden;
    background-color: #e7e7e7;
}

.choices div {
    font-size: 1.25rem;
    padding: 0 5rem;
    margin: 1rem 0;
    font-weight: 900;
}

.choices div:hover { color: #9059FF; }

.algo-choices-dropdown:hover .choices, .choices:hover{
    visibility: visible;
    cursor: pointer;
}

/* 
    ====================================================
    grid 
    ====================================================
*/

#grid-container {
    background-color: white;
    padding: 3rem 0 3rem;
    margin: 0 0px;
    display: grid;
    justify-content: center;
    grid-gap: 1px;
}

/* 
    ====================================================
    squares within the grid
    ====================================================
*/

.square {
    border: solid;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.square:hover{ cursor: pointer; }

.square p {
    margin: 0;
    text-align: center;
    font-size: .8rem;
}